@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
.container{
    height:100vh;
    width:100%;
}
.header h1{
    background-color: rgb(26, 188, 156);
    text-align:center;
    padding:20px;
    margin:0;
    color:white;
    font-family: poppins,sans-serif;

}
.link{
    background-color:black;

}
.link ul{
    margin:0;
}
.link ul li{
    list-style-type: none;
    color:white;
    padding:10px;
    display:inline-block;
    font-family:poppins,sans-serif;

}
.box-wrappper{
    display: flex;
    flex-wrap:wrap;
    /* justify-content: space-between; */
}
.box{
    /* width:20%; */
    background-color: rgb(204, 204, 204);
    flex-basis:25%;
    padding:25px;
    transition: all 0.9s ease-in;
}
.box h5{
font-family:poppins,sans-serif;
font-weight: bold;
font-size:20px;
}
.box p{
font-family:poppins,sans-serif;
}
.box .photo{
    background-color:white;
    width:100%;
    height:250px;
}
.box .p1{
    color:rgba(0, 0, 0, 0.795);
    font-size:15px;
    font-family:poppins,sans-serif;
}
.box .heading{
    font-family: poppins,sans-serif;
    font-weight: bold;
    font-size:20px;
}
.box .box1{
    background-color:white;
    height:70px;
    margin-bottom:10px;
}
.half-body{
    /* background-color:white; */
    flex-basis: calc(100% - 25%);
    transition: all 0.9s ease-in;
    /* width:80%; */
    padding:30px;
    /* margin-left: 300px; */
    /* margin-top: -800px; */
}
.half-body h1{
    font-family:poppins,sans-serif;

}
.half-body p{
    font-family:poppins,sans-serif;
}
.half-body .a1{
    height:250px;
    width:100%;
    background-color:rgb(187, 187, 187);
}
.half-body p{
    font-family: poppins,sans-serif;

}
.footer{
    margin:0;
}
.footer h1{
    font-family: poppins;
    text-align:center;
    background-color:rgb(221, 221, 221);
    padding:20px;
    /* margin:0; */
}
