.footer{
    margin-top:30px;

    ul{
        list-style: none;
        font-family: poppins,sans-serif;
        font-size:20px;
        display:flex;
    }
    ul li{
        padding:20px;
    }
    p{
        margin-top:25px;
    }

}