.header {
    padding: 20px 0;
    .logo {

    }
    .banner {
        margin-left: auto;
        height: 90px;
        background: #ccc;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @media (min-width: 1200px) {
            width: 720px;
        }


    }
    .navbar {
        background: #008271;
    }
    .search{
       margin-left:auto;
    }
}